.category{
  p{
    font-family: 'Raleway-700', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 91%;
    letter-spacing: -0.05em;
    font-variant: all-small-caps;
    color: #000;
  }
}