.skeleton-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 7px;
}

.skeleton-loader {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
                  90deg,
                  #eeeeee 25%,
                  #dddddd 50%,
                  #eeeeee 75%
  );
  background-size: 200% 100%;
  animation: skeleton 1.2s infinite linear;
  z-index: 1;
}

@keyframes skeleton {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.skeleton-image {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
  position: relative;
}

.skeleton-image.visible {
  opacity: 1;
}
