.postWrapper {
  .post {


    .postWrapperMainImg {
      margin-bottom: 11px;

    }

    .postTitle {
      font-family: 'Raleway-700', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 112%;
      color: #000;
      margin-bottom: 25px;
    }

    .postContent {
      font-family: RobotoSerif-Light, sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      text-align: justify;
      color: #000;
      padding-left: 22px;
      margin-bottom: 40px;

      img{
       /* width: 100%;*/
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 320px) and (max-width: 1080px) {
        padding-left: 0px;
      }
      p{
        line-height: 150% !important;
        text-align: justify;
        @media (min-width: 320px) and (max-width: 768px) {
          text-align: left;
        }
      }
      table {
        margin: 0 auto;
        display: block;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
        scrollbar-color: #491d1d #e0e0e0;
        scrollbar-width: thin;
      }
      table::-webkit-scrollbar {
        height: 8px;
      }
      table::-webkit-scrollbar-track {
        background: #e0e0e0;
      }
      table::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 4px;
      }
      thead,
      tbody,
      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }
       td,
       th {
        word-break: break-word;
      }
    }

    .shareThis {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;

      p {
        text-transform: uppercase;
        font-family: 'Raleway-700', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 112%;
        color: #000;
        margin-right: 3px;
      }

      .socialsWrapper {
        display: flex;
        align-items: center;

        a {
          margin-right: 3px;
        }
      }
    }
  }

  .postReadMoreWrapper {
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    .postReadMoreTitle {
      text-transform: uppercase;
      font-family: 'Raleway-700', sans-serif;
      font-weight: 700;
      font-size: 25px;
      line-height: 112%;
      color: #000;
      margin-right: 3px;
      margin-bottom: 10px;

    }
  }

  .loading {
    font-family: 'Raleway-700', sans-serif;
    font-weight: 700;
    font-size: 35px;
  }
}

.postReadMoreContent {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;

}