.previewArticleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .previewArticleMain {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    img {
      width: 1200px;
      height: auto;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
    }

    p {
      margin-top: 22px;
      margin-bottom: 22px;
    }
  }

  .previewArticleSmallContainer {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .previewArticleSmall {
      width: calc(33.333% - 24.66px); // чтобы учесть промежутки между карточками
      box-sizing: border-box;

      img {
        width: 100%;
        height: 340px;
        margin-bottom: 20px;
        border-radius: 10px;
        object-fit: cover;
      }

      p {
        margin-bottom: 16px;
      }

      h2 {
        margin-bottom: 40px;
      }
    }
  }
}
