.previewArticleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .previewArticleMain {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
    }

    p {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .previewArticleSmallContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .previewArticleSmall {
      width: calc(33.333% - 24.66px); // чтобы учесть промежутки между карточками
      box-sizing: border-box;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        width: calc(50% - 14.66px);
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 7px;
        border-radius: 10px;
        object-fit: cover;
        @media (min-width: 320px) and (max-width: 1900px) {
          // width: calc(320px + 880 * ( 100vw - 320px) / 1580);
        }
      }

      p {
        margin-bottom: 8px;
      }

      h2 {
        margin-bottom: 40px;
      }
    }
  }
}
