.layout {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;


  .dividerFooter {

  }
}

.main {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @media (min-width: 1080px) and (max-width: 1920px) {
    // max-width: calc(1000px + 770 * (100vw - 1080px) / 840);
    max-width: calc(800px + 400 * (100vw - 1080px) / 840);
  }
  @media (min-width: 320px) and (max-width: 1080px) {
    max-width: calc(300px + 700 * (100vw - 320px) / 760);
  }
}

